body {
    background-image: url("https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHw%3D&w=1000&q=80");
    background-size: cover;
    padding: 20px;
}
.container {
    height: 600px;
    width: 100%;
    text-align: center;
}
h1 {
    padding-top: 20%;
}